.li-item {
	width: 480px;
	// &:nth-child(odd) {
	// 	margin-left: 20px;
	// }
	// &:nth-child(even) {
	// 	margin-left: -20px;
	// }
	// display: flex;
	// gap: 48px;
	@media only screen and (max-width: 578px) {
		width: 100%;
	}
}

.link {
	text-decoration: none;
	color: #e6e5f8;
}

.link-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	background-color: #827cda;
	padding: 20px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	font-size: 24px;
	font-weight: 500;
	text-align: center;
	@media only screen and (max-width: 578px) {
		font-size: 20px;
	}
}

.icon {
	max-width: 24px;
	max-height: 24px;
	filter: brightness(0) invert(1);
}
